/* Basic */
* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

/* Header */
.header {
   display: flex;
   align-items: center;
   justify-content: center;

   position: fixed;

   width: 100%;
   height: 105px;
   background: #ffffff;
   box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);

   @media (min-width: 768px) {
      padding: 17px 21px 17px 21px;
   }

   @media (min-width: 1440px) {
      padding: 17px 0px 17px 0px;
   }
}

.header__container {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;

   position: relative;

   width: 100%;
   height: 100%;

   padding: 17px 21px 58px 21px;

   .header__logo {
      cursor: pointer;

      display: block;

      width: 135px;
      height: 30px;

      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 136 30'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%23121920' fill-rule='evenodd' d='M15.5889 0.0833643C18.6993 0.00959695 21.7549 0.910404 24.3282 2.65969C26.9014 4.40897 28.8634 6.91918 29.9397 9.839C31.016 12.7588 31.1528 15.9421 30.3308 18.9435C29.9671 20.2718 28.5956 21.0536 27.2676 20.6898C25.9395 20.326 25.1578 18.9543 25.5216 17.6261C26.0688 15.6277 25.9778 13.5082 25.2612 11.5642C24.5445 9.62017 23.2383 7.94894 21.5251 6.78435C19.812 5.61976 17.7778 5.02008 15.7071 5.06919C13.6364 5.1183 11.6329 5.81374 9.97684 7.05823C8.32082 8.30273 7.09517 10.034 6.47148 12.0098C5.84778 13.9856 5.85726 16.1071 6.49859 18.0772C7.13993 20.0474 8.381 21.7676 10.0481 22.9973C11.7152 24.2269 13.7248 24.9044 15.7959 24.935C17.1727 24.9553 18.2723 26.0881 18.252 27.4652C18.2317 28.8422 17.099 29.942 15.7222 29.9217C12.6113 29.8757 9.59254 28.858 7.08849 27.0111C4.58444 25.1641 2.72039 22.5802 1.75714 19.6212C0.793904 16.6621 0.779664 13.4759 1.71642 10.5083C2.65317 7.54078 4.49405 4.94038 6.98149 3.07108L8.47917 5.06466L6.98149 3.07108C9.46893 1.20178 12.4785 0.157131 15.5889 0.0833643Z' clip-rule='evenodd'/%3E%3Cpath fill='%23F95A59' d='M27.1634 24.7101C27.1634 26.7981 25.471 28.4908 23.3834 28.4908C21.2957 28.4908 19.6033 26.7981 19.6033 24.7101C19.6033 22.6221 21.2957 20.9294 23.3834 20.9294C25.471 20.9294 27.1634 22.6221 27.1634 24.7101Z'/%3E%3Cpath fill='%23F95A59' fill-rule='evenodd' d='M61.46 23.96H56.48L55.77 23.04C54.8 23.42 53.93 23.69 53.18 23.9 52.42 24.07 51.61 24.17 50.69 24.17 47.65 24.17 45.27 23.42 43.59 21.96 41.81 20.44 40.94 18.11 40.94 15.14 40.94 12.1 41.75 9.78 43.32 8.21 44.95 6.64 47.38 5.83 50.69 5.83 53.88 5.83 56.31 6.69 57.99 8.37 59.45 9.83 60.16 11.73 60.16 14 60.16 15.68 60.1 16.92 59.94 17.68 59.72 18.87 59.18 20.01 58.43 21.04L61.46 23.96ZM55.77 14.97C55.77 13.35 55.45 12.05 54.75 11.02 53.88 9.72 52.47 9.07 50.63 9.07 48.9 9.07 47.55 9.56 46.68 10.59 45.81 11.56 45.38 13.02 45.38 14.92 45.38 17.03 45.87 18.6 46.9 19.57 47.82 20.44 49.17 20.87 50.96 20.87 52.58 20.87 53.77 20.39 54.58 19.41 55.39 18.38 55.77 16.92 55.77 14.97ZM80.24 18.38C80.24 19.95 79.7 21.25 78.67 22.33 77.64 23.42 76.34 23.9 74.72 23.9H62.27V20.71H72.61C73.31 20.71 73.91 20.55 74.34 20.22 74.88 19.84 75.15 19.36 75.15 18.71 75.15 17.19 74.07 16.43 71.96 16.43H66.76C65.25 16.43 63.95 15.95 62.81 15.03 61.67 14.11 61.13 12.92 61.13 11.45 61.13 9.88 61.67 8.59 62.81 7.61 63.89 6.64 65.35 6.15 67.19 6.15H79.16V9.18H68.55C68.06 9.18 67.57 9.4 67.14 9.78 66.6 10.16 66.38 10.64 66.38 11.18 66.38 11.78 66.6 12.32 67.09 12.7 67.57 13.13 68.11 13.3 68.76 13.3H74.5C76.29 13.3 77.7 13.78 78.72 14.7 79.75 15.62 80.24 16.87 80.24 18.38ZM100.7 14.97C100.7 18.44 99.73 20.87 97.83 22.39 96.26 23.58 93.99 24.17 91.06 24.17 87.76 24.17 85.33 23.47 83.76 22.12 82.03 20.6 81.16 18.17 81.16 14.81 81.16 12.05 81.92 9.88 83.49 8.37 85.16 6.69 87.65 5.88 91.01 5.88 94.69 5.88 97.24 6.69 98.75 8.26 100.05 9.67 100.7 11.89 100.7 14.97ZM96.15 14.86C96.15 13.13 95.72 11.73 94.91 10.7 93.99 9.56 92.58 8.96 90.79 8.96 89.01 8.96 87.65 9.56 86.73 10.81 85.98 11.83 85.6 13.19 85.6 14.81 85.6 16.7 85.92 18.11 86.52 19.03 87.38 20.28 88.9 20.93 91.23 20.93 93.18 20.93 94.53 20.33 95.29 19.09 95.88 18.22 96.15 16.76 96.15 14.86ZM118.51 16.49H106.27V23.85H101.89V12.97C101.89 12.32 102 11.56 102.27 10.75 102.76 9.29 103.68 8.21 105.03 7.45 106.6 6.58 109.2 6.15 112.77 6.15 120.4 6.15 128.03 6.15 135.67 6.15V9.13H129.06V23.85H124.95V9.13C120.73 9.13 116.72 9.07 112.5 9.07 110.88 9.07 109.74 9.18 109.09 9.34 107.95 9.61 107.19 10.26 106.71 11.18 106.33 11.89 106.17 12.65 106.17 13.51H118.51V16.49Z' clip-rule='evenodd'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0H135V30H0z' transform='translate(.94)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
   }

   .header__button {
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;
      background: transparent;
      border: none;
      box-shadow: none;
      transition: all 0.2s ease-in-out;

      span {
         font-family: Roboto;
         font-style: normal;
         font-weight: normal;
         font-size: 14px;
         line-height: 120%;
         letter-spacing: 0.01em;
         margin-right: 10px;

         color: #768298;
      }

      &:hover {
         background: rgba(187, 196, 214, 0.178);
         transition: all 0.2s ease-in-out;
      }

      @media (min-width: 768px) {
         width: 169px;
         height: 105px;

         border: solid;
         border-width: 0px 0px 0px 2px;
         border-color: rgba(187, 196, 214, 0.5);
         img {
            width: 40px !important;
            height: 40px !important;
         }
      }
   }
   .header__search {
      min-width: 100%;
      height: 42px;

      position: absolute;
      left: 0px;
      bottom: 0px;
      .icon {
         position: absolute;
         left: 20px;
         top: 50%;
         transform: translateY(-50%);

         width: 24px;
         height: 24px;

         background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%23768298' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.8' d='M20 19.9999L15.0962 15.0961M15.0962 15.0961C16.2725 13.9198 17 12.2948 17 10.4999C17 6.91003 14.0899 3.99988 10.5 3.99988C6.91015 3.99988 4 6.91003 4 10.4999C4 14.0897 6.91015 16.9999 10.5 16.9999C12.2949 16.9999 13.9199 16.2723 15.0962 15.0961Z'/%3E%3C/svg%3E");
      }
      input {
         height: 100%;
         width: 100%;

         border-width: 1px 0px 0px 0px;
         border-color: rgba(187, 196, 214, 0.5);
         box-shadow: none;

         padding: 8px 20px 8px 49px;

         font-family: Roboto;
         font-style: normal;
         font-weight: normal;
         font-size: 14px;
         line-height: 16px;

         color: #697281;
      }
   }

   @media (min-width: 768px) {
      padding: 0px;
      height: 80px;
      .header__search {
         position: relative;

         min-width: 344px;
         width: 30%;
         max-width: 763px;
         height: 40px;

         input {
            height: 100%;
            width: 100%;

            background: #ffffff;
            border: 1px solid #ebebf1;
            border-radius: 5px;

            padding: 8px 14px 8px 49px;
         }
      }
   }

   @media (min-width: 1440px) {
      width: 1170px;
      margin: 0 auto;
      .header__search {
         width: 100%;
      }
   }
}

/* Main */

.main {
   height: 100%;
   width: 100vw;
   padding-top: 175px;
   padding-left: 20px;
   padding-right: 20px;
}

.partners {
   padding-bottom: 73px;
   h1 {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 160%;
      text-transform: uppercase;
      color: #121920;
   }
   @media (min-width: 1440px) {
      width: 1170px;
      margin: 0 auto;
   }
}

.list {
   display: flex;
   flex-direction: column;

   list-style: none;

   margin-top: 30px;
   .list__item {
      width: 100%;
      height: 140px;

      background: #ffffff;
      border: 1px solid #ebebf1;
      border-radius: 5px;

      margin-bottom: 1rem;
      transition: box-shadow 0.2s ease-in-out;
      a {
         display: flex;
         align-items: center;
         justify-content: center;

         width: 100%;
         height: 100%;
      }
      &:hover {
         box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(164, 164, 164, 0.03);
         transition: box-shadow 0.2s ease-in-out;
      }
   }

   @media (max-width: 280px) {
      .list__item {
         a {
            padding: 24px;
            img {
               width: 100%;
               height: 100%;
               object-fit: contain;
            }
         }
      }
   }

   @media (min-width: 768px) {
      flex-wrap: wrap;
      flex-direction: row;

      .list__item {
         width: calc((100% / 3) - (2rem / 2));
         height: 120px;
         margin-right: 1rem;
         object-fit: cover;
         a {
            padding: 24px;
            img {
               width: 100%;
               height: 100%;
               object-fit: contain;
            }
         }
      }
   }

   @media (min-width: 1440px) {
      .list__item {
         width: calc((121% / 5) - (2rem / 3));
         margin-bottom: 1rem;
      }
   }
}

/* Hidden */

.hidden {
   display: none !important;
}
